<% include ../partials/header %>

<div class="container">

  <h3><%= list.name %></h3>
     
  <% items.forEach(function(item){ %>	
    <p class="listItem">
      Name: <%= item.name %> 
     <br>
     	Brand: <%= item.brand %>
     <br>
     	Price: <%= item.price %>
      <br>
      <button type="button" id="ok" class="btn btn-success btn-xs">
      <span class="glyphicon glyphicon-ok"></span>
      </button>
      <button type="button" id="remove" class="btn btn-danger btn-xs">
      <span class="glyphicon glyphicon-remove"></span>
      </button> 
    </p>

    <script>
      var completeItems = function () {
        $('#ok').click(function() {
          $(".listItem").remove();
      });
      };

      completeItems();

      var delItems = function () {
        $('#remove').click(function() {
          $(".listItem").remove();
      });
      };

      delItems();
    </script>
    
     <% }) %>

    <br>
<div id='cse' class = "container" style='width: 60%;'>Loading</div>
<script src='//www.google.com/jsapi' type='text/javascript'></script>
  <script type='text/javascript'>
    google.load('search', '1', {language: 'en', style: google.loader.themes.V2_DEFAULT});
    google.setOnLoadCallback(function() {
      var customSearchOptions = {};
      var orderByOptions = {};
      orderByOptions['keys'] = [{label: 'Relevance', key: ''} , {label: 'Date', key: 'date'}];
      customSearchOptions['enableOrderBy'] = true;
      customSearchOptions['orderByOptions'] = orderByOptions;
      customSearchOptions['overlayResults'] = true;
      var customSearchControl =   new google.search.CustomSearchControl('013636092485042898442:x5hwwie_ymc', customSearchOptions);
        customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
      var options = new google.search.DrawOptions();
      options.setAutoComplete(true);
        customSearchControl.draw('cse', options);
        }, true);
</script>
</div>
     <a href="/createlist" class="btn btn-info" role="button">+ item</a>
</div>

<% include ../partials/footer %>