<% include ../partials/header %>

<div class="container">

  <h3><%= list.name %></h3>
     
  <% items.forEach(function(item){ %>	
    <p class="listItem">
      Name: <%= item.name %> 
     <br>
     	Brand: <%= item.brand %>
     <br>
     	Price: <%= item.price %>
      <br>
      <button type="button" id="ok" class="btn btn-success btn-xs">
      <span class="glyphicon glyphicon-ok"></span>
      </button>
      <button type="button" id="remove" class="btn btn-danger btn-xs">
      <span class="glyphicon glyphicon-remove"></span>
      </button> 
    </p>

    <script>
      var completeItems = function () {
        $('#ok').click(function() {
          $(".listItem").remove();
      });
      };

      completeItems();

      var delItems = function () {
        $('#remove').click(function() {
          $(".listItem").remove();
      });
      };

      delItems();
    </script>
    
     <% }) %>

    <br>

     <a href="/createlist" class="btn btn-info" role="button">+ item</a>
</div>

<% include ../partials/footer %>