<% include partials/header %>

<div class="item" style="background: src="http://i.imgur.com/zNZ0QXp.jpg" no-repeat left center; background-size: cover;"> 
	<div class = "container">
		<div class="carousel-caption">
			<a href="users/signup" class="btn btn-large btn-info" role="button">Sign up</a>
			<a href="users/login" class="btn btn-large btn-primary" role="button">Log In</a>
		</div>
	</div>
</div>


<!--<div class ="main"><iframe class="header-iframe" id="map" width="1000" height="620" src="http://maps.stamen.com/watercolor/embed#11/37.7600/-122.3617"></iframe>-->
<!--	<img src="http://i.imgur.com/zNZ0QXp.jpg" class = "img-responsive" title="source: imgur.com" />

<a href="http://imgur.com/zNZ0QXp"><img src="http://i.imgur.com/zNZ0QXp.jpg" title="source: imgur.com" /></a>-->

<% include partials/footer %>